@use "root";

.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0px 0px 15px;
  border-radius: 8px;
  width: 16%;
  overflow: hidden;
  z-index: 10;

  .app-bar-devices {
    position: relative;
    background-color: #463f3a;
    border-radius: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 1%;
    align-items: center;
    justify-content: space-around;

    .button-app-bar {
      color: #f4f3ee;
      width: 10%;
      height: 10%;
    }

    .input-search-app-bar {
      margin-top: 5px;
      color: #f4f3ee;
    }
  }

  .paper-devices {
    background: rgba(70, 63, 58, 0.3);
    width: 100%;
  }
}

