{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "Constants": "./constants",
          "Components": "./components",
          "Styles": "./styles",
          "Core": "./core",
          "Utils": "./utils",
          "Pages": "./pages",
          "Redux": "./redux",
          "I18n": "./i18n",
          "Root": "./"
        }
      },
      "@babel/plugin-syntax-dynamic-import"
    ]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}
